<%- include('../partials/file-header.ejs') %>
</head>
  <body class="container h-screen self-center p-4 overflow-x-hidden ">
    <%- include('../partials/college-navbar') %>

    <section class="container flex flex-row gap-2 h-5/6 bg-white shadow-md mt-2 md:p-2 rounded-md border-2">
     <div class="bg-red-400 w-full p-4 flex flex-col items-center">
      <h1 class="text-3xl text-white text-center mb-4">Important Guidelines</h1>
      <ol class="lg:w-4/6 list-decimal px-10">
        <li class="text-xl mb-4">Don't accept any student pass application without <b>a Profile Picture</b></li>
        <li class="text-xl mb-4">If any of the student information is incorrect, <b>Reject</b> such application</li>
        <li class="text-xl mb-4">Ensure that the student is present for identity verification when approving an application.</li>
        <li class="text-xl mb-4">Verify that the student’s details match the official records before granting approval</li>
        <li class="text-xl mb-4">Maintain transparency in application approvals and rejections to ensure fairness and accountability</li>
      </ol>
     </div>
    </section>

  </body>
</html>
