<section
  class="container md:py-2 md:px-4 bg-red-500 h-max rounded-md shadow-lg flex flex-row justify-between items-center"
>
  <nav class="flex flex-row gap-10 items-center">
    <li class="list-none bg-white p-2 rounded-full aspect-square">
      <img src="/src/msrtc.png" class="h-16" />
    </li>
    <li class="list-none">
      <a href="/college/home" class="text-xl font-bold text-white">Home</a>
    </li>
    <li class="list-none">
      <a
        href="/college/manage-applications"
        class="text-xl font-bold text-white"
        >Applications</a
      >
    </li>
  </nav>
  <li class="list-none">
    <a
      href="/college/logout"
      class="text-xl font-bold bg-white px-4 py-2 rounded-md"
      >Logout</a
    >
  </li>
</section>
