<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />
    <title>Welcome</title>
  </head>
  <body
    class="container h-screen self-center p-4 overflow-x-hidden flex justify-center align-center"
  >
    <div class="container h-max p-8 rounded-md border-2 w-7/12 shadow-lg my-auto">
      <h1 class="text-4xl text-center font-bold text-red-500 mb-8">
        Welcome To MSRTC Pass System
      </h1>

      <a
        class="bg-green-600 hover:bg-green-500 w-2/3 block mx-auto rounded-md font-bold p-3 text-center mt-6 text-xl"
        href="/host/login"
        >MSRTC Admin Login</a
      >

      <a
        class="bg-green-600 hover:bg-green-500 w-2/3 block mx-auto rounded-md font-bold p-3 text-center mt-6 text-xl"
        href="/college/login"
        >College Authority Login</a
      >
    </div>
  </body>
</html>
